[Desktop Entry]
Terminal=false
Version=1.0
Type=Application
Categories=Education;Science;MedicalSoftware;
Name=FreeAccount
GenericName=FreeAccount
Comment=Medical billing and accountancy
Comment[fr]=Comptabilité médicale
TryExec=freeaccount
Exec=freeaccount
Icon=freeaccount
