[Desktop Entry]
Version=1.0
Type=Application
Categories=Science;
Name=FreeDiams
GenericName=Pharmaceutical Drugs Prescriptor
Comment=Pharmaceutical drugs prescriptor assistant
Comment[fr]=Assistant à la prescription médicamenteuse
TryExec=freediams
Exec=freediams
Icon=freediams


