[Desktop Entry]
Terminal=false
Version=1.0
Type=Application
Categories=Science;
Name=FreeToolBox
GenericName=FreeToolBox
Comment=FreeMedForms scientific assistant
Comment[fr]=Assistant scientifique du projet FreeMedForms
TryExec=freetoolbox
Exec=freetoolbox
Icon=freetoolbox
