[Desktop Entry]
Version=1.0
Type=Application
Categories=Science;
Name=FreeMedForms EMR
GenericName=FreeMedForms EMR
Comment=Open source Electronic Medical Record manager
Comment[fr]=Gestionnaire de dossiers patients open source
TryExec=freemedforms
Exec=freemedforms
Icon=freemedforms

