[Desktop Entry]
Terminal=false
Version=1.0
Type=Application
Categories=Education;Science;MedicalSoftware;
Name=FreeICD
Comment=ICD10 coding assistant
Comment[fr]=Assistant codage CIM10
TryExec=freeicd
Exec=freeicd
Icon=freeicd
