[Desktop Entry]
Version=1.0
Type=Application
Categories=Office;MedicalSoftware
Name=FreeICD
Comment[en]=ICD10 coding assistant
Comment[fr]=Assistant codage CIM10
TryExec=freeicd
Exec=freeicd
Icon=freeicd
