[Desktop Entry]
Version=1.0
Type=Application
Categories=Education;Science;
Name=FreeDiams
GenericName=Pharmaceutical Drugs Prescriptor
Comment=Pharmaceutical Drugs Prescriptor
Comment[en]=Pharmaceutical Drugs Prescriptor
Comment[fr]=Prescripteur
TryExec=freediams
Exec=freediams
Icon=freediams


