[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Education;Science;MedicalSoftware;
Name=FreeMedForms
Comment[en]=Electronic Medical Records Manager
Comment[fr]=Gestionnaire de dossiers médicaux électroniques
Comment[de]=Open Source EMR
GenericName[en]= Open Source EMR
GenericName[fr]= Gestionnaire de dossiers médicaux électroniques open source
GenericName[de]=Open Source EMR
TryExec=freemedforms
Exec=freemedforms
Icon=freemedforms
