[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Education;Science;MedicalSoftware;
Name=FreeDiams
GenericName[en]=Open source prescriber
GenericName[fr]=Prescripteur open source
Comment[en]=Open source prescriber
Comment[fr]=Prescripteur open source
TryExec=freediams
Exec=freediams
Icon=freediams

