[Desktop Entry]
Version=0.5.9~alpha2
Type=Application
Name=FreeMedForms
Comment=Open source EMR
TryExec=freemedforms
Exec=freemedforms
Icon=freemedforms.svg
