[Desktop Entry]
Version=0.1.2
Type=Application
Categories=Qt;Sciences;MedicalSoftware
Name=FreeDiams
Comment[en]=Pharmaceutical Drugs Prescriptor
Comment[fr]=Prescripteur
TryExec=freediams
Exec=freediams
Icon=freediams
