[Desktop Entry]
Version=0.1.0~beta
Type=Application
Categories=Office;MedicalSoftware
Name=FreeToolBox
Comment[en]=FreeMedForms scientific assistant
Comment[fr]=Assistant scientifique du projet FreeMedForms
TryExec=freetoolbox
Exec=freetoolbox
Icon=freetoolbox
