/global_resources/sql/account/medical_procedure_fr_FR.csv
# Source packages
source_package/*
# Translations
global_resources/translations/*.qm

# Config files
global_resources/*.ini

# Drafts
*~
*bak
*bkup
*.autosave
global_resources/textfiles/freediamstest/prescription-0.6.2-witherror.xml

# QtCreator/qmake files
*.pro.user
*.pro.user.*
.qmake.cache
.qmake.stash

# build.sh files
build.conf
build_*.log

buildspecs/compiling.pri


# bin files
build/*
bin/*
packages/*
Makefile*
object_script.*
*.o
moc_*
*plugins/*/*.json
free*/*plugins/*/*.json
tests/*/plugins/*plugin/*.json

# Non Free content
global_resources/pixmap/*.svg
global_resources/pixmap/*.png
global_resources/pixmap/*.jpg
global_resources/pixmap/*.tiff
global_resources/pixmap/*.gif
*nonfree*
*non-free*
_protected*
global_resources/sql/*.xml
global_resources/sql/ia/*

# Databases
global_resources/databases/*
global_resources/datapacks/http_zip/drugs/*/*.db
global_resources/datapacks/http_zip/drugs/*/*db.zip

# Docs imported from the project wiki
#global_resources/doc/*/*/html/*

# Api doc created with doxygen
doc/doxygen/

# Working places
global_resources/datapacks/install/*
global_resources/datapacks/tmp/*
scripts/freemedforms-*
scripts/Linux/ppa*

.~lock.*#
libs/aggregation/aggregation.qbs.user

# .pluginspec files
freehealth/plugins/*/*.pluginspec

# local_resources folder
local_resources
