QHeaderView::section {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #EEEEE, stop: 0.5 #E0E0E0, stop: 0.6 #DADADADA, stop: 1 #F2F2F2);
    padding: 2px;
    border: 1px solid black;
}
