Source: freemedforms-project
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Eric Maeker <eric.maeker@gmail.com>,
 Andreas Tille <tille@debian.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 8), libqt4-dev (>= 4.7.0), libxext-dev, zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://www.freemedforms.com/
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/freemedforms-project/
Vcs-Svn: svn://svn.debian.org/debian-med/trunk/packages/freemedforms-project/trunk/

Package: freemedforms-project
Architecture: all
Depends: ${misc:Depends}
Description: FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This virtual package contains all version information.

Package: freemedforms-theme
Architecture: all
Depends: ${misc:Depends}
Description: Theme for the FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 Default theme for the FreeMedForms project applications.

Package: freemedforms-i18n
Architecture: all
Depends: ${misc:Depends}
Description: Translations of the FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains the translations of the project.

Package: freemedforms-common-resources
Architecture: all
Depends: ${misc:Depends}, freemedforms-theme (= ${source:Version}), freemedforms-i18n (= ${source:Version})
Description: Common data for the FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This metapackage contains the architecture independent data.

Package: freemedforms-emr-resources
Architecture: all
Depends: ${misc:Depends}
Description: Data for the FreeMedForms EMR
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains the architecture independent data
 specific to the FreeMedForms EMR.

Package: freemedforms-freedata
Architecture: all
Depends: ${misc:Depends}
Replaces: freediams-data
Description: Free extra-data for the FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains the architecture independent free
 extra-data (like free drugs database).

Package: freemedforms-emr-doc-en
Architecture: all
Section: doc
Depends: ${misc:Depends}
Enhances: freemedforms-emr
Provides: freemedforms-emr-doc
Description: English documentation for FreeMedForms Electronic Medical Record Manager
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains the English documentation of FreeMedForms EMR.

Package: freemedforms-emr-doc-fr
Architecture: all
Section: doc
Depends: ${misc:Depends}
Enhances: freemedforms-emr
Provides: freemedforms-emr-doc
Description: Data for FreeMedForms Electronic Medical Record Manager
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains the French documentation of FreeMedForms EMR.

Package: freediams-doc-en
Architecture: all
Section: doc
Depends: ${misc:Depends}
Enhances: freediams
Provides: freediams-doc
Description: FreeDiams English Documentation
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 FreeDiams is a pharmaceutical drug prescriptor assistant.
 It can be used to creation complex prescription and to manage
 drugs interactions.
 .
 This package contains the English documentation of freediams.

Package: freediams-doc-fr
Architecture: all
Section: doc
Depends: ${misc:Depends}
Enhances: freediams
Provides: freediams-doc
Description: FreeDiams French Documentation
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 FreeDiams is a pharmaceutical drug prescriptor assistant.
 It can be used to creation complex prescription and to manage
 drugs interactions.
 .
 This package contains the French documentation of freediams.

Package: freemedforms-libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Common libs for the FreeMedForms project
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 This package contains common libs of the project.

Package: freemedforms-emr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  freemedforms-libs (= ${source:Version}),
  freemedforms-freedata (= ${source:Version}),
  freemedforms-common-resources (= ${source:Version}),
  freemedforms-emr-resources (= ${source:Version})
Suggests: freemedforms-emr-doc-en, freemedforms-emr-doc-fr
Provides: freemedforms
Description: Electronic Medical Record Manager
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 The main objective of FreeMedForms electronic medical
 records is to manage the EMR based on your medical
 practice or the practice of clinical research groups.

Package: freediams
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 freemedforms-libs (= ${source:Version}),
 freemedforms-freedata (= ${source:Version}),
 freemedforms-common-resources (= ${source:Version}),
 freemedforms-common-resources (= ${source:Version})
Suggests: freediams-doc, ttf-mscorefonts-installer
Conflicts: freediams-data
Description: Pharmaceutical drugs prescriptor and interactions checker
 The FreeMedForms project is a set of free and open source
 medical application used to help health professionals
 in their current practice.
 It is developed by a international community of medical
 doctors and computer workers.
 .
 FreeDiams is a pharmaceutical drug prescriptor assistant.
 It can be used to creation complex prescription and to manage
 drugs interactions.

