<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Created by Eric Maeker, MD</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleIdentifier</key>
        <string>com.freemedforms.freetoolbox</string>
	<key>NOTE</key>
        <string>FreeToolBox is a free and open source build to ease participation to the FreeMedForms scientific project.</string>
        <key>CFBundleVersion</key>
        <string>0.1.0~beta</string>
        <key>CFBundleShortVersionString</key>
        <string>0.1.0~beta</string>
</dict>
</plist>
