<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
       <key>CFBundleDocumentTypes</key>
       <array>
       <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>freeicd.icns</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>icd</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>FreeICD Code Collection file</string>
                <key>LSHandlerRank</key>
                <string>Default</string>
       </dict>
       </array>

        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Created by Eric Maeker, MD</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleIdentifier</key>
        <string>com.freemedforms.freeicd</string>
	<key>NOTE</key>
        <string>FreeICD is a free and open source ICD10 assistant.</string>
        <key>CFBundleVersion</key>
        <string>0.1.0~beta</string>
        <key>CFBundleShortVersionString</key>
        <string>0.1.0~beta</string>
</dict>
</plist>
