Source: freemedforms
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Eric Maeker <eric.maeker@gmail.com>,
 Andreas Tille <tille@debian.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.1), quilt (>= 0.47), zlib1g-dev, libqt4-dev (>= 4.6.2), libxext-dev
Standards-Version: 3.9.2
Homepage: http://www.freemedforms.com/
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/freemedforms/?rev=0&sc=0
Vcs-Svn: svn://svn.debian.org/svn/debian-med/trunk/packages/freemedforms/trunk/

Package: freemedforms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freemedforms-data (= ${source:Version}), libqtcore4 (>= 4.6.2), libqtgui4 (>= 4.6.2), libqt4-sql-sqlite, libqt4-sql-mysql, libqt4-xml, libqt4-network, libqt4-svg, libqt4-script, zlib1g
Description: Electronic Medical Record Manager
 FreeMedForms is developed by a international community of
 medical doctors and computer workers and is
 mainly intended for health professionals.
 .
 Currently, the suite is under development. It is
 available only for testing purposes.
 The main objective of FreeMedForms is to manage the
 electronic medical records based on your
 medical practice or the practice of clinical
 research groups.
 .
 Your records will be fully customizable through the
 use of XML architecture and the use of plugins.
 Some parts of the suite are already
 stable and usable in practice as the prescriber
 FreeDiams.

Package: freemedforms-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: freemedforms
Description: Data for FreeMedForms EMR
 FreeMedForms is developed by a international community of
 medical doctors and computer workers and is
 mainly intended for health professionals.
 .
 Currently, the suite is under development. It is
 available only for testing purposes.
 The main objective of FreeMedForms is to manage the
 electronic medical records based on your
 medical practice or the practice of clinical
 research groups.
 .
 This package contains the architecture independent data.

Package: freemedforms-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: freemedforms
Description: Documentation for FreeMedForms EMR
 FreeMedForms is developed by a international community of
 medical doctors and computer workers and is
 mainly intended for health professionals.
 .
 Currently, the suite is under development. It is
 available only for testing purposes.
 The main objective of FreeMedForms is to manage the
 electronic medical records based on your
 medical practice or the practice of clinical
 research groups.
 .
 This package contains the documentation of FreeMedForms.
