#!/usr/bin/make -f

%:
	dh $@ --with quilt

override_dh_auto_configure:
	lrelease global_resources/translations/*.ts
	qmake-qt4 -r -config release "CONFIG+=LINUX_INTEGRATED" "INSTALL_ROOT_PATH=$(CURDIR)/debian/tmp/usr/" LOWERED_APPNAME="freemedforms" freemedforms.pro

# Upstream does not seem to provide a proper clean target - clean up here
override_dh_auto_clean:
	rm -rf bin/freemedforms/plugins/* bin/freemedforms
	find build -type d -name "\.*" -exec rm -rf \{\} \; 2> /dev/null || true
	rm -rf contrib/quazip/libz.a
	test ! -f Makefile || make distclean

override_dh_auto_install:
	make install

override_dh_install:
	# Install documentation
	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/freemedforms/en
	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/freemedforms/fr
	cp -a global_resources/doc/freemedforms/en/html/* $(CURDIR)/debian/tmp/usr/share/doc/freemedforms/en
	cp -a global_resources/doc/freemedforms/fr/html/* $(CURDIR)/debian/tmp/usr/share/doc/freemedforms/fr

	# Remove those Links to dynamic libraries which have no version number (this should only
	# be provided in -dev packages.  But some *.so files are real files without version number
	# FIXME
	# find $(CURDIR)/debian/tmp/usr/lib/freemedforms -type l -name "*.so" -exec rm -f \{\} \;
	
	# remove doc files from /usr/bin
	rm -f debian/tmp/usr/bin/[CR]*

	dh_install --autodest

#override_dh_shlibdeps:
#	LD_LIBRARY_PATH=debian/tmp/usr/lib/freemedforms dh_shlibdeps -l/usr/lib/freemedforms

override_dh_installdeb:
	# remove extra license file
	rm -f $(CURDIR)/debian/freemedforms-data/usr/share/freemedforms/textfiles/COPYING.txt
	dh_installdeb
