<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
       <key>CFBundleDocumentTypes</key>
       <array>
       <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>edrc.icns</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>cr</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>FreeDRC consultation file</string>
                <key>LSHandlerRank</key>
                <string>Default</string>
       </dict>
       </array>

        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Created by Eric Maeker, MD</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleIdentifier</key>
        <string>com.freemedforms.freedrc</string>
        <key>NOTE</key>
        <string>FreeDRC is a free and open source eDRC-SFMG coding assistant.</string>
        <key>CFBundleVersion</key>
        <string>0.10.0~alpha1</string>
        <key>CFBundleShortVersionString</key>
        <string>0.10.0~alpha1</string>
</dict>
</plist>
